.container {
  /* flex: 1 1 44px; */
  border-top: 1px solid grey;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.input {
  width: 100%;
  border: none;
  resize: none;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  background-color: white;
  padding: 10px;
  margin-top: 8px;
  border-radius: 5px;
  min-height: 35px !important;
}

.input:focus {
  outline: none;
}

.icons {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 10px 10px;
  padding-bottom: 9px;
}

.icon {
  height: 17px;
  width: 17px;
}

.back {
  display: none;
}

.back svg {
  margin: 14px 9px 0 0;
  font-size: 17px;
}

@media (width<=730px) {
  .back {
    display: inline-block;
    height: 44px;
    width: 43px;
    text-align: center;
    border: none;
    background-color: inherit;
  }

  .back:hover {
    cursor: pointer;
  }
}
