.container {
  padding: 5px;
  border-top: 1px solid grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 12px;
}

.input {
  width: 100%;
  border: none;
  resize: none;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  margin-right: 16px;
  background-color: inherit;
}

.input::-webkit-scrollbar {
  display: none;
}

.input:focus {
  outline: none;
}

.icons {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
