.card {
  flex: 1 1 300px;
  min-width: 400px;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.loader {
  margin: 20px 0;
  animation: fade-slide-down 0.5s ease-in;
}

.empty {
  width: 300px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.icon {
  width: 80px;
  height: 80px;
}

.empty h2 {
  text-align: center;
}

@keyframes fade-slide-down {
  from {
    opacity: 0;
    transform: translateY(-1rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
