.msgContainer {
  width: fit-content;
  max-width: 80%;
  display: flex;
  justify-content: space-between;
  gap: 5px;
  align-items: flex-end;
}

.rightMsgContainer {
  position: relative;
  flex-direction: row-reverse;
  align-self: flex-end;
}

.imgContainer {
  height: 100%;
  min-width: 40px;
  display: flex;
  align-items: flex-start;
}

.profilepic {
  border-radius: 5px;
}

.message {
  display: flex;
  flex-wrap: wrap;
  column-gap: 7px;
  background-color: white;
  padding: 5px 10px;
  border-radius: 0 15px 15px 15px;
  height: fit-content;
  max-width: 100%;
  align-items: flex-end;
}

.rightMessage {
  background-color: #e3edfa;
  border-radius: 15px 15px 0 15px;
}

.text {
  font-size: 13px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex: auto;
  margin: 2px;
  white-space: pre-wrap;
  word-break: break-word;
}

.date {
  flex: auto;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: 11px;
  height: 16px;
  min-width: 52px;
  margin-top: 4px;
}

.date span {
  height: 14px;
}

.delivered {
  font-size: 14px;
  width: 15px;
}

.marginTop {
  margin-top: 10px;
}
