.chats {
  display: flex;
  flex-direction: column;
  gap: 3px;
  margin: 10px 5px;
  overflow: scroll;
}

.users {
  display: flex;
  flex-direction: column;
  gap: 3px;
  overflow: scroll;
}

.chats::-webkit-scrollbar,
.users::-webkit-scrollbar {
  display: none;
}

.user {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  padding: 5px;
}

.user:hover {
  cursor: pointer;
  background-color: #e3edfa;
}

.profileImg {
  border-radius: 5px;
}

.user div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.name {
  font-size: small;
  font-weight: bold;
}

.email {
  font-size: 11px;
}

.loader,
.notFound {
  margin-top: 10px;
  text-align: center;
}

.notFound {
  font-size: 13px;
}
