.card {
  flex-basis: 400px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
}

.header {
  padding: 10px 15px;
}

.header p {
  font-size: 19px;
}

.icon {
  height: 20px;
  width: 20px;
}
