.chats {
  margin: 10px 0;
}

.chat {
  display: flex;
  gap: 10px;
  height: 55px;
  padding: 5px;
}

.imgContainer {
  position: relative;
}

.profilepic {
  border-radius: 5px;
}

.dot {
  color: #11d100;
  background-color: white;
  position: absolute;
  bottom: 4%;
  right: -10%;
  width: 12px;
  height: 12px;
  border: 2px solid white;
  border-radius: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 3px;
  height: 45px;
  overflow: hidden;
}

.name {
  font-size: small;
  font-weight: bold;
}

.message {
  font-size: 11px;
}

.active {
  background-color: #d6ffd2;
}
