.card {
  /* background-color: #efefef; */
  display: grid;
  grid-template-rows: 50px 40px auto;
  overflow: scroll;
}

.card::-webkit-scrollbar {
  display: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
}

.header p {
  font-size: 19px;
}

.icon {
  height: 20px;
  width: 20px;
}
