.card {
  padding: 10px 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card div {
  text-align: center;
}

.card p {
  font-size: 12px;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 5rem;
}

.icon {
  height: 35px;
  width: 35px;
}
