.card {
  height: 100vh;
  display: flex;
}

.cardMobile {
  height: 99vh;
  display: flex;
}

@media (width <= 730px) {
  .desktop {
    display: none !important;
  }

  .mobile {
    display: flex;
  }
}
